* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    color: black;
    background-color: white;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 10px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background-color: white;
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    color: blueviolet;
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span {
    color: blue;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: blueviolet;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: blue;
}

.navigation i {
    cursor: pointer;
    font-size:  1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    margin: 5px auto;
    transition: all 0.3s;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 10%;
}

.home .home-text {
    max-width: 37rem;
}

.home-text .text-h4 {
    font-size: 1.5rem;
    color: blueviolet;
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    margin-bottom: 4rem;
}

.home-btn {
    padding: 15px 45px;
    background-color: green;
    color: white;
    border-radius: 15px;
    font-weight: 500;
    transition: 0.5s;
    font-size: 1.2rem;
}

.home-btn:hover{
    background-color: rgb(47, 255, 109);
    color: black;
}

.home-img img {
    width: 100%;
}

@media(max-width: 785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
        margin-right: 30px;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: white;
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0%;
    }

    .home-img img {
        margin-left: 0;
    }

    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 2.5rem;
    }

    .home p {
        font-size: 17px;
    }
}
